@use "./variables.scss";
@mixin tour {
  @keyframes tour {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
@mixin gradien {
  &:active,
  &:focus {
    background: linear-gradient(
      variables.$color-primary,
      variables.$color-secondary
    );
    color: #fff;
    font-weight: 600;
    transform: scale(1.2);
    transition: 0.5s;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  @keyframes like {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1.2);
    }
  }
}

@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@mixin shadowbox {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
@keyframes texte {
  0% {
    text-shadow: 0 0 7px variables.$color-secondary;
  }
  90% {
    color: variables.$color-primary;
    text-shadow: none;
  }
  100% {
    color: variables.$color-primary;
    text-shadow: 0 0 7px variables.$color-secondary;
  }
}
@keyframes disparu {
  to {
    visibility: hidden;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
}
