@use'../abstracts/index.scss';
@import'../layout/explorer.scss';
@import'../layout/emplacement.scss';
@import'../layout/fonctionnement.scss';
@import'../layout/footer';
@import'../layout/header.scss';
@import'../layout/menu.scss';
@import'../base/typography.scss';
@import'../layout/Loader.scss';
*{
    box-sizing: border-box;
    text-decoration:none;
}
a{
    text-decoration: none;
    color:inherit;
}
/*balises cementique */
main{
    background-color:#fffefe
    ;
}





