@use "../base/typography.scss";
footer {
  width: 100%;
  padding: 15px;
  background-color: #353535;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  li {
    margin-bottom: 15px;
  }
  i {
    margin-right: 18px;
    height: 10px;
    width: 10px;
  }
}
.footer__logo {
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
