@keyframes apparition {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes texte {
    0% {
        text-shadow: 0 0 7px #ff79da
    }

    90% {
        color: #9356dc;
        text-shadow: none
    }

    100% {
        color: #9356dc;
        text-shadow: 0 0 7px #ff79da
    }
}

@keyframes disparu {
    to {
        visibility: hidden
    }
}

@keyframes heart {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1.2)
    }
}

.explorer {
    background-color: #9356dc;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 60px;
    color: #fff
}

.home__blocreservez {
    text-align: center;
    background-color: #f7f6f7;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 100px
}

.home__blocreservez h1 {
    font-size: 175%;
    padding-right: 80px;
    padding-left: 80px
}

.home__blocreservez p {
    font-size: large
}