@use "../abstracts/index";
    
.home__fonctionnemnt{
        padding-bottom: 60px;
        margin-left: 30px;
margin-right: 30px;
    counter-reset: compteListe;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
        margin-top: 60px;
margin-bottom: 60px;

    }
    & ol {
        display:flex;
font-weight: bold;
        @media (max-width: index.$breakpoints) {
            flex-direction: column;
          
        }
        i{
            padding-right: 10px;
            padding-left: 10px;
        }

    }  
& li{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
@include index.shadowbox;
    font-size: 20px;
    margin-bottom: 20px;
    height: 100px;
    border-radius:20px;
    background-color:index.$color-quinquennial;
    gap:10px;
    @media (min-width: index.$breakpoints) {
        width: 33%;
        margin-left: 30px;
        font-size: 15px;
      
    }
&:hover {
    background-color: #f5edff;
    i{
        color:index.$color-primary;
    }
}
&::before{
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    color:white;
    background-color:index.$color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    border-radius:50%;
    margin-left: -20px;
    font-weight: bolder;
}
}}