@use'../abstracts/index.scss';
.home__restaurants{
    background-color:index.$color-quinquennial ;
    width: 100%;
    padding: 20px;
    @media(min-width:index.$breakpoints){
        display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    h2{
        @media (min-width: index.$breakpoints) {
            padding: 0px; }
    
    @media (max-width: index.$breakpoints) {
        display: block;}}


.home__restaurants__menu{
    background-color:white
}}
.home__restaurant__all{
    display: flex;
flex-direction: column;
align-items: center;
width: 100%;
@media (min-width: index.$breakpoints) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

}
.home__image_menu{
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    position: relative;
}

.home__card__menu{
    width: 98%;
background-color: white;
border-radius: 25px;
margin-bottom: 25px;
padding-bottom: 10px;
@include index.shadowbox;;
.new {
    position: relative;
  }
  .new::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 8rem;
    background-color:index.$color-tertiary;
    color: #008766;
    display: flex;
    align-items: center;
    right: 1rem;
    bottom: 13em;
    z-index: 1;
    justify-content: center;
    font-weight: bold;
    
  }
&-img{
    width: 100%;}
    @media (min-width: index.$breakpoints) {
        width: 46%;
        margin: 2%;    }

      

@media (min-width: index.$breakpoints) {
}
.card__texte{
position: relative;
display: flex;
flex-direction: column;
line-height: 1px;
padding-left: 20px;
p{
    color:#353535;
}


.card-like{
position: absolute;
cursor: pointer;
right: 1em;
top: 0.5em;
@media (min-width: index.$breakpoints) {
  ::before{
    position: absolute;
left: 10em;
  }
}
@include index.gradien;   

}
}
}